<!-- Mobiscroll JS and CSS Includes -->
<link rel="stylesheet" href="/admin/css/mobiscroll.javascript.min.css">
<script src="/admin/js/mobiscroll.javascript.min.js"></script>
<form action="/admin/updataProduct/<%=editView._id %>" method="post" enctype="multipart/form-data">
    <!-- Modal -->
    <div class="modal fade" id="productAdd" tabindex="-1" aria-labelledby="productAddLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">

                    <a href="/admin/products"> <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button></a>
                </div>
                <div class="modal-body">
                    <!-- Add Product Content -->


                    <main class="content">
                        <div class="container-fluid p-0">
                            <% if (locals.editView) { %>
                                <h1 class="h3 mb-3">Edit product</h1>
                                <%} else {%>
                                    <h1 class="h3 mb-3">Add new product</h1>
                                    <% } %>

                                        <div class="row">
                                            <div class="col-8">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-0">Product Title</h5>
                                                        <input type="text" name="product_name"
                                                            placeholder="Enter product title"
                                                            value="<%=editView.product_name%>" required>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-0">Description</h5>
                                                        <textarea id="story" name="product_description"
                                                            placeholder="type Description..." rows="5"
                                                            cols="33"><%=editView.product_description%></textarea>
                                                        <!-- ouill -->
                                                        <!-- 
                                                        <div class="clearfix">
                                                            <div id="quill-toolbar">
                                                                <span class="ql-formats">
                                                                    <select class="ql-font"></select>
                                                                    <select class="ql-size"></select>
                                                                </span>
                                                                <span class="ql-formats">
                                                                    <button class="ql-bold"></button>
                                                                    <button class="ql-italic"></button>
                                                                    <button class="ql-underline"></button>
                                                                    <button class="ql-strike"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                    <select class="ql-color"></select>
                                                                    <select class="ql-background"></select>
                                                                </span>
                                                                <span class="ql-formats">
                                                                    <button class="ql-script" value="sub"></button>
                                                                    <button class="ql-script" value="super"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                    <button class="ql-header" value="1"></button>
                                                                    <button class="ql-header" value="2"></button>
                                                                    <button class="ql-blockquote"></button>
                                                                    <button class="ql-code-block"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                    <button class="ql-list" value="ordered"></button>
                                                                    <button class="ql-list" value="bullet"></button>
                                                                    <button class="ql-indent" value="-1"></button>
                                                                    <button class="ql-indent" value="+1"></button>
                                                                </span>
                                                                <span class="ql-formats">
                                                                    <button class="ql-direction" value="rtl"></button>
                                                                    <select class="ql-align"></select>
                                                                </span>
                                                                <span class="ql-formats">
                                                                    <button class="ql-link"></button>
                                                                    <button class="ql-image"></button>
                                                                    <button class="ql-video"></button>
                                                                </span>
                                                                <span class="ql-formats">

                                                                    <button class="ql-clean"></button>
                                                                </span>
                                                            </div>
                                                            <div id="quill-editor" name="product_description">
                                                            </div>
                                                        </div>

 -->
                                                    </div>

                                                    <div class="card-body">
                                                        <h5 class="card-title mb-0">Product Category</h5>
                                                        <section class="ftco-section">
                                                            <div class="container">

                                                                <div class="row ">
                                                                    <div
                                                                        class="col-md-8 col-lg-5 d-flex justify-content-center align-items-center">
                                                                        <div
                                                                            class="d-flex text-left align-items-center w-100">
                                                                            <label>
                                                                                Select Category:
                                                                                <input mbsc-input
                                                                                    id="demo-multiple-select-input"
                                                                                    placeholder="Please select..."
                                                                                    data-dropdown="true"
                                                                                    data-input-style="outline"
                                                                                    data-label-style="stacked"
                                                                                    data-tags="true" />
                                                                            </label>
                                                                            <select id="demo-multiple-select"
                                                                                name="product_category" multiple>

                                                                                <% (categoryView || []).forEach(i=> { %>
                                                                                    <option value="<%=i._id %>">
                                                                                        <%=i.category %>
                                                                                    </option>
                                                                                    <% }) %>

                                                                                        <% (categroys || []).forEach(j=>
                                                                                            { %>
                                                                                            <option selected
                                                                                                value="<%=j._id %>">
                                                                                                <%=j.category %>
                                                                                            </option>

                                                                                            <% }) %>

                                                                            </select>


                                                                            <%# (categroyName || []).forEach(j=> { %>
                                                                                <!--      <option selected value="<%#j._id %>"><%#j.category %></option> -->
                                                                                <%# }) %>

                                                                                    </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>


                                                    <div class="card-body">
                                                        <h5 class="card-title mb-0">Product Image</h5>
                                                        <div>


                                                            <img id="imgView"
                                                                src="/images/products_image/<%=editView.product_image[0]%>"
                                                                class="pt-3 pb-3" alt=""
                                                                style="width: 100px; height:auto;">
                                                                
                                                            <input type="file" class="form-control" value="/images/products_image/<%=editView.product_image[0]%>" name="product_image"
                                                                onchange="viewImage(event,0)"><br>
                                                        </div>
                                                        <div>

                                                            <img id="imgView1"
                                                                src="/images/products_image/<%=editView.product_image[1]%>"
                                                                class="pt-3 pb-3" alt=""
                                                                style="width: 100px; height:auto;">
                                                            <input type="file" class="form-control" name="product_image"
                                                                onchange="viewImage(event,1)"><br>
                                                        </div>
                                                        <div>

                                                            <img id="imgView2"
                                                                src="/images/products_image/<%=editView.product_image[2]%>"
                                                                class="pt-3 pb-3" alt=""
                                                                style="width: 100px; height:auto;">
                                                            <input type="file" class="form-control" name="product_image"
                                                                onchange="viewImage(event,2)"><br>
                                                        </div>
                                                        <div>

                                                            <img id="imgView3"
                                                                src="/images/products_image/<%=editView.product_image[3]%>"
                                                                class="pt-3 pb-3" alt=""
                                                                style="width: 100px; height:auto;">
                                                            <input type="file" class="form-control" name="product_image"
                                                                onchange="viewImage(event,3)"><br>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Pricing</h5>
                                                        <input type="number" value="<%=editView.product_price%>"
                                                            name="product_price" placeholder="product price" required>
                                                    </div>
                                                    <div class="card-body">
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Old Pricing</h5>
                                                        <input type="number" name="product_old_price"
                                                            value="<%=editView.product_old_price%>"
                                                            placeholder="product old price ">
                                                    </div>
                                                    <div class="card-body">
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">Badge</h5>
                                                        <input type="text" name="product_badge"
                                                            value="<%=editView.product_badge%>"
                                                            placeholder="product badge">
                                                    </div>
                                                    <div class="card-body">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                        </div>
                    </main>


                </div>
                <div class="modal-footer">
                    <a href="/admin/products"><button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button></a>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    window.onload = function () {
        document.getElementById('editbtn').click()
    }

</script>
<script>

    mobiscroll.setOptions({
        locale: mobiscroll.localeEn,                                         // Specify language like: locale: mobiscroll.localePl or omit setting to use default
        theme: 'ios',                                                        // Specify theme like: theme: 'ios' or omit setting to use default
        themeVariant: 'light'                                                // More info about themeVariant: https://docs.mobiscroll.com/5-22-3/javascript/select#opt-themeVariant
    });

    mobiscroll.select('#demo-multiple-select', {
        inputElement: document.getElementById('demo-multiple-select-input')  // More info about inputElement: https://docs.mobiscroll.com/5-22-3/javascript/select#opt-inputElement
    });
</script>