<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<main class="content">
    <div class="container-fluid p-0">
        <!-- Button trigger modal -->


        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Orders</h1>
        </div>

        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Sl. No</th>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>User</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Shipping Status</th>
                    <th>Order View</th>
                </tr>
            </thead>



            <tbody>
                <% (orders || []).forEach((order,index)=> { %>
                    <tr>

                        <td>
                            <%= (index + 1).toString().padStart(2, '0' ) %>
                        </td>
                        <td>
                            #<%= order._id %>
                        </td>
                        <td>
                            <% order.productInfo.forEach(product=> { %>


                                <%=product.product_name %><br>
                                    <% }) %>
                        </td>
                        <td>
                            <%=order.deliveryAddress?.name%>
                        </td>
                        <td>
                            <span style=" display: block; max-width: 523px; ">
                                <%=order.deliveryAddress?.address%>, <%=order.deliveryAddress?.locality%>,
                                        <%=order.deliveryAddress?.city%>, <%=order.deliveryAddress?.state%> - <span
                                                    style=" font-weight: 500; ">
                                                    <%=order.deliveryAddress?.pincode%>
                                                </span>
                            </span>

                        </td>
                        <td>
                            <% const date=new Date(order.createdAt); %>
                                <%= `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}` %>
                        </td>
                        <td>
                            <% const gst = Math.floor(order.totalAmount/10)%>
                            <% const totalPaid = order.totalAmount-(gst-order.discount) %>
                            ₹ <%=totalPaid%>
                        </td>
                        <% if (order.status=='pending' ) { %>
                            <td><input type="button" class="btn btn btn-danger" id="statusChange<%= order._id %>"
                                    value="payment pending" disabled></input></td>
                            <% }else{ %>
                                <td><input type="button" class="btn btn btn-warning" id="statusChange<%= order._id %>"
                                        value="<%= order.shipping_status %>" disabled></input></td>
                                <% } %>

                                    <% if (order.status=='pending' ) { %>
                                        <td>
                                            <select style="width: 200px;" class="form-select"
                                                aria-label="Default select example">
                                                <option value="Order Placed">Order pending</option>
                                            </select>

                                        </td>
                                        <td></td>
                                        <% }else{ %>
                                            <td>
                                                <select id="shipping-status<%= order._id %>" style="width: 200px;"
                                                    class="form-select" aria-label="Default select example">
                                                    <option value="Order Placed" <% if
                                                        (order.shipping_status==='Order Placed' ) { %>
                                                        selected<% } %>>Order Placed</option>
                                                    <option value="Processing" <% if
                                                        (order.shipping_status==='Processing' ) { %>selected<% } %>
                                                            >Processing</option>
                                                    <option value="Shipped" <% if (order.shipping_status==='Shipped' ) {
                                                        %>selected<% } %>
                                                            >Shipped</option>
                                                    <option value="In Transit" <% if
                                                        (order.shipping_status==='In Transit' ) { %>selected<% } %>>In
                                                            Transit</option>
                                                    <option value="Out for Delivery" <% if
                                                        (order.shipping_status==='Out for Delivery' ) { %>selected<% }
                                                            %>>Out for Delivery</option>
                                                    <option value="Delivered" <% if (order.shipping_status==='Delivered'
                                                        ) { %>selected<% }%>>Delivered</option>
                                                    <option value="Failed Delivery Attempt" <% if
                                                        (order.shipping_status==='Failed Delivery Attempt' ) { %>
                                                        selected<% } %>>Failed
                                                            Delivery Attempt</option>
                                                    <option value="Return to Sender" <% if
                                                        (order.shipping_status==='Return to Sender' ) { %>selected<% }
                                                            %>>Return to Sender</option>
                                                    <option value="Cancelled" <% if (order.shipping_status==='Cancelled'
                                                        ) { %>selected<% } %>>Cancelled</option>
                                                </select>

                                            </td>
                                            <td> <button type="button" class="btn btn-info " data-bs-toggle="modal"
                                                    data-bs-target="#orderView<%= order._id %>"> <i
                                                        class="fas fa-info me-2"></i> View</button></td>

                                            <% } %>




                    </tr>

                    <script>
                        $(document).ready(function () {
                            $('#shipping-status<%= order._id %>').change(function () {
                                var selectedOption = $(this).val();
                                var orderId = '<%= order._id %>'; // replace with your order ID
                                $.ajax({
                                    url: '/admin/update_shipping_status',
                                    method: 'POST',
                                    data: { orderId: orderId, shippingStatus: selectedOption },
                                    success: function (updatedOrder) {
                                        const toastLiveExample = document.getElementById('toasterMessage')
                                        document.getElementById('toastMessage').innerHTML = 'Shipping Status Changed'
                                        const toast = new bootstrap.Toast(toastLiveExample, {
                                            autohide: true,
                                            delay: 3000
                                        })
                                        toast.show()
                                        console.log('Shipping status updated successfully:', updatedOrder);
                                        document.getElementById('statusChange' + orderId).value = selectedOption

                                    },
                                    error: function (err) {
                                        console.log('Error updating shipping status:', err);
                                    }
                                });
                            });
                        });
                    </script>

                    <!-- Modal -->
                    <div class="modal fade" id="orderView<%= order._id %>" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class=" modal-dialog modal-xl  ">
                            <div class="modal-content bg-transparent">


                                <section class="h-100 gradient-custom">
                                    <div class="container   h-100">

                                        <div class="row d-flex justify-content-center align-items-center h-100">
                                            <div class="col-lg-10 col-xl-8">
                                                <div class="card" style="border-radius: 10px;">
                                                    <div class="card-header px-4 py-5">
                                                        <button type="button" class="btn-close ml-auto float-end"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                        <h5 class="text-muted mb-0">Order #<%= (index +
                                                                1).toString().padStart(2, '0' ) %>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body p-4">
                                                        <div
                                                            class="d-flex justify-content-between align-items-center mb-4">
                                                            <p class="lead fw-normal mb-0" style="color: #a8729a;">
                                                                Products</p>
                                                            <p class="small text-muted mb-0">Order Id :
                                                                #<%= order._id %>
                                                            </p>
                                                        </div>
                                                        <% order.productInfo.forEach(product=> { %>

                                                            <div class="card shadow-0 border mb-4">
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <img src="/images/products_image/<%=product.product_image[0] %>"
                                                                                class="img-fluid" alt="Phone">
                                                                        </div>
                                                                        <div
                                                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                                            <p class="text-muted mb-0">
                                                                                <%=product.product_name %>
                                                                            </p>
                                                                        </div>
                                                                        <div
                                                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                                            <p class="text-muted mb-0 small">
                                                                                Size: <%=product.product_size %>
                                                                            </p>
                                                                        </div>
                                                                        <div
                                                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                                            <p class="text-muted mb-0 small">
                                                                                Stock:
                                                                                <%=product.product_stock %>
                                                                            </p>
                                                                        </div>
                                                                        <div
                                                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                                            <p class="text-muted mb-0 small">
                                                                                Qty: <%=product.quantity %>
                                                                            </p>
                                                                        </div>
                                                                        <div
                                                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                                            <% const price = product.product_price*product.quantity %>
                                                                            <p class="text-muted mb-0 small">

                                                                                ₹ <%= price %></p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                                <div class="d-flex justify-content-between pt-2">
                                                                    <p class="fw-bold mb-0">Order Details</p>
                                                                    <p class="text-muted mb-0"><span
                                                                            class="fw-bold me-4">Total</span>
                                                                        ₹ <%=order.totalAmount%>
                                                                    </p>
                                                                </div>

                                                                <div class="d-flex justify-content-between pt-2">
                                                                    <p class="text-muted mb-0">Invoice Number :
                                                                        <%= order._id %>
                                                                    </p>
                                                                    <p class="text-muted mb-0"><span
                                                                            class="fw-bold me-4">Discount</span>
                                                                        - ₹ <%=order.discount%>
                                                                    </p>
                                                                </div>

                                                                <div class="d-flex justify-content-between">
                                                                    <p class="text-muted mb-0">Invoice Date : <%=
                                                                            `${date.getDate()}/${date.getMonth() +
                                                                            1}/${date.getFullYear()}` %>
                                                                    </p>
                                                             
                                                                    <p class="text-muted mb-0"><span
                                                                            class="fw-bold me-4">GST
                                                                            10%</span>- ₹ <%= Math.floor(gst)  %></p>
                                                                </div>

                                                                <div class="d-flex justify-content-between mb-5">
                                                                    <p class="text-muted mb-0">
                                                                        
                                                                    </p>
                                                                    <p class="text-muted mb-0"><span
                                                                            class="fw-bold me-4">Delivery
                                                                            Charges</span> Free
                                                                    </p>
                                                                </div>
                                                                <div class="d-flex justify-content-between pt-2">
                                                                    <p class="fw-bold mb-0">User Details</p>
                                                                    <p class="fw-bold mb-0 ">
                                                                        User Address</p>
                                                                </div>

                                                                <div class="d-flex justify-content-between pt-2">
                                                                    <p class="text-muted mb-0">User Id :
                                                                        <%= order.userId %>
                                                                    </p>
                                                                    <p class="text-muted mb-0">
                                                                        <span
                                                                            style=" display: block; max-width: 523px; ">
                                                                            <%=order.deliveryAddress?.address%>,
                                                                                <%=order.deliveryAddress?.locality%>,
                                                                                    <%=order.deliveryAddress?.city%>,
                                                                                        <%=order.deliveryAddress?.state%>
                                                                                            - <span
                                                                                                style=" font-weight: 500; ">
                                                                                                <%=order.deliveryAddress?.pincode%>
                                                                                            </span>
                                                                        </span>
                                                                    </p>

                                                                </div>

                                                                <div class="d-flex justify-content-between mb-5">
                                                                    <p class="text-muted mb-0">User Name :
                                                                        <%=order.deliveryAddress?.name%>
                                                                    </p>
                                                                    <p class="text-muted mb-0"> Phone :
                                                                        <%=order.deliveryAddress?.phone%>
                                                                    </p>
                                                                </div>
                                                    </div>
                                                    <div class="card-footer border-0 px-4 py-5"
                                                        style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                                
                                                        <h5
                                                            class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                                            Total
                                                            Amont: <span class="h2 mb-0 ms-2">₹ <%= totalPaid %></span></h5>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>

                            </div>

                        </div>
                    </div>

                    <% }) %>



            </tbody>

        </table>

    </div>
</main>