<main class="content">
    <div class="container-fluid p-0">
        <!-- Button trigger modal -->


        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Orders</h1>
        </div>

        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>User</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
            </thead>



            <tbody>
                <% (orders || []).forEach(order=> { %>
                    <tr>
                        <td>
                            #<%= order._id %>
                        </td>
                        <td>
                            <% order.productInfo.forEach(product => { %>
                             
                           
                           <%=product.product_name  %><br>  
                            <% }) %>      
                        </td>
                        <td>
                            <%=order.deliveryAddress?.name%>
                        </td>
                        <td>
                            <span style=" display: block; max-width: 523px; ">
                                <%=order.deliveryAddress?.address%>, <%=order.deliveryAddress?.locality%>,
                                        <%=order.deliveryAddress?.city%>, <%=order.deliveryAddress?.state%> - <span
                                                    style=" font-weight: 500; ">
                                                    <%=order.deliveryAddress?.pincode%>
                                                </span>
                            </span>
                           
                        </td>
                        <td>
                            <%# productData.product_stock %>
                        </td>
                        <td>
                            ₹ <%=order.totalAmount%>
                        </td>
                        <td>
                            <%=order.status%>
                        </td>
                       
                       
                    </tr>

     
                    <% }) %>



            </tbody>

        </table>

    </div>
</main>