<main class="content">
    <div class="container-fluid p-0">
        <!-- Button trigger modal -->


        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Unlist</h1>
        </div>

        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Product Details</th>
                    <th>Category</th>
                    <th>Options</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>SKU</th>
                    <th>RATE</th>
                    <th>Actions</th>
                </tr>
            </thead>



            <tbody>
                <% (unListProduct || []).forEach(productData=> { %>
                    <tr>
                        <td>
                            <%= productData.product_name %>
                        </td>
                        <td>
                            <% (productData.category_name || []).forEach(i=> { %>



                                <%= i.category %>

                                    <% }) %>
                        </td>
                        <td>
                            <%= productData.product_options %>
                        </td>
                        <td>
                            <%= productData.product_price %>
                        </td>
                        <td>
                            <%= productData.product_stock %>
                        </td>
                        <td>
                            <%= productData.product_sku %>
                        </td>
                        <td>
                            <%= productData.product_rate %>
                        </td>
                        <td style="display: flex;"><button type="button" class="btn btn-primary me-2"
                                data-bs-toggle="modal"
                                data-bs-target="#staticBackdropRes<%= productData._id%>">Restore</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop<%= productData._id%>">Delete</button>
                            <!--        <a href="/admin/unlistdelete-product/<%# productData._id%>"><button type="button"
                                    class="btn btn-danger"
                                    onclick="return confirm('Are you want to permanent delete <%= productData.product_name %> ?')">Delete</button></a> -->
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop<%= productData._id%>" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class=" modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content ">

                                <div class="modal-body">
                                    Are you want to permanent delete <%= productData.product_name %> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    <a href="/admin/unlistdelete-product/<%= productData._id%>"><button type="button"
                                            class="btn btn-danger">Delete</button></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdropRes<%= productData._id%>" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class=" modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content ">

                                <div class="modal-body">
                                    Are you want to restore <%= productData.product_name %> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    <a href="/admin/restore-product/<%= productData._id%>"><button type="button"
                                            class="btn btn-success">Restore</button></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <% }) %>




            </tbody>

        </table>

    </div>
</main>