<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings | GetMyShoe</title>
    <link rel="stylesheet" href="/users/css/orderDetails.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <style>
        a {
            text-decoration: none;
            color: inherit;
            cursor: default;
        }
    </style>
    <section class="vh-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="card card-stepper" style="border-radius: 16px;">
                        <div class="card-header p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">#<%=orders._id
                                                %></span></p>
                                    <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">
                                            <% const date=new Date(orders.createdAt); %>
                                                <%= `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}` %>
                                        </span> </p>
                                </div>
                                <div>
                                    <h6 class="mb-0"> <a href="/product/<%=orders.productInfo._id  %>">View Details</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="d-flex flex-row mb-4 pb-2">
                                <div class="flex-fill">
                                    <h5 class="bold">
                                        <%=orders.productInfo.product_name %>
                                    </h5>
                                    <p class="text-muted"> Qt: <%=orders.productInfo.quantity %> item</p>
                                    <h4 class="mb-3">₹ <%=orders.productInfo.product_price %><span
                                                class="small text-muted"> via (<%=orders.paymentMethod %>) </span></h4>
                                    <p class="text-muted">Delivery Address</p><br>
                                    <div style=" 
                                    overflow: hidden;
                                     ">
                                       
                                        <div style=" margin-bottom: 10px; "><span style="
                                            text-transform: uppercase;
                                            font-size: 11px;
                                            color: #878787;
                                            vertical-align: middle;
                                            padding: 4px 7px;
                                            border-radius: 2px;
                                            background-color: #f0f0f0;
                                            font-weight: 500;
                                            margin-right: 15px;
                                        ">
                                                <%=orders.deliveryAddress?.address_type%>
                                            </span></div>
                                        <p style="line-height: 1.5;">
                                            <span style=" font-weight: 500;">
                                                <%=orders.deliveryAddress?.name%>
                                            </span>
                                            <span style="margin: 0 0 0 15px; font-weight: 500;">
                                                <%=orders.deliveryAddress?.phone%>
                                            </span>

                                        </p>
                                        <span style=" margin-top: 10px;display: block; max-width: 523px; ">
                                            <%=orders.deliveryAddress?.address%>, <%=orders.deliveryAddress?.state%> - <span
                                                                style=" font-weight: 500; ">
                                                                <%=orders.deliveryAddress?.pincode%>
                                                            </span>
                                        </span>
                                    </div>
                                    
                                </div>
                                <div>
                                    <img class="align-self-center img-fluid"
                                        src="/images/products_image/<%=orders.productInfo.product_image[0]  %>"
                                        width="250">
                                </div>
                            </div>
                            <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                                <li class="step0 <% if (orders.shipping_status=='Order Placed' || orders.shipping_status=='Shipped'|| orders.shipping_status=='Delivered' ) { %>
                                 active
                                <% } %> " id="step1"><span style="margin-left: 22px; margin-top: 12px;">PLACED</span>
                                </li>
                                <li class="step0  <% if (orders.shipping_status=='Shipped' || orders.shipping_status=='Delivered'  ) { %>
                                    active
                                   <% } %>  text-center" id="step2"><span>SHIPPED</span></li>
                                <li class="step0 text-muted text-end <% if (orders.shipping_status=='Delivered')  { %>
                                    active
                                   <% } %> " id="step3"><span style="margin-right: 22px;">DELIVERED</span></li>
                            </ul>
                        </div>
                        <div class="card-footer p-4">
                            <div class="d-flex justify-content-between">
                                <!-- <%# if (orders.paymentMethod==='ONLINE' && orders.status!=='pending' ) { %>
                                    <h5 class="fw-normal mb-0"><a href="">Cancel</a></h5>
                                    <div class="border-start h-100"></div>
                                    <%# } %>
                                     <%# if (orders.paymentMethod==='ONLINE' && orders.status!=='pending' ) { %>

                                        <%# }else{ %>
                                            <h5 class="fw-normal mb-0"><a href="#!">Pre-pay</a></h5>
                                            <%# } %> -->
                                                <div class="border-start h-100"></div>
                                                <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i
                                                            class="fas fa-ellipsis-v"></i></a>
                                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>