<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="/users/product_details/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/users/product_details/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/users/product_details/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/users/product_details/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/users/product_details/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/users/product_details/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/users/product_details/css/style.css" type="text/css">



<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="coupon__link">
                    <h6 class="mb-3"><span class="icon_tag_alt"></span> Have a coupon?
                    </h6>
                    <ul class="has-scrollbar">
                        <div style="display: flex; margin: 10px;">
                            <% locals.coupons.forEach(coupon=> { %>
                                <div class="me-5 ">
                                    <%- include('./coupon.ejs',{ coupon: coupon }) %>
                                </div>
                                <% }) %>


                        </div>
                    </ul>



                </div>

            </div>



        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            <% products.forEach(product=> { %>


                                <tr id="cardProduct<%=product.products._id%>">
                                    <td class="cart__product__item">
                                        <img style="width: 90px;"
                                            src="/images/products_image/<%=product.products.product_image[0]%>" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>
                                                <%=product.products.product_name %>
                                            </h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="cart__price">₹ <%=product.products.product_price %>
                                    </td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty" data-product-price="<%=product.products.product_price %>"
                                            data-cart-id="<%=product._id%>" data-product-id="<%=product.products._id%>">
                                            <input type="text" value="<%=product.quantity%>">
                                        </div>
                                    </td>
                                

                                        <td class="cart__total" id="cart__total_<%=product.products._id%>">₹
                                            <%=product.total%>
                                           
                                                <% if (product.quantity>product.products.product_stock) { %>
                                                    <span class="stockCheck">Out of Stock</span>
                                                    <% } %>
                                        </td>
                                        <td class="cart__close"><span
                                                onclick="deltPro('<%=product.products._id%>','<%=product._id%>')"
                                                class="icon_close"></span></td>
                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/shop">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content d-flex">
                    <h6>Discount codes</h6>
                    <form id="couponApply" class="needs-validation" novalidate="">
                        <input type="search" placeholder="Enter your coupon code" id="appliedCoupon" required
                            name="appliedCoupon" value="<%=locals.appliedCoupon%>">

                        <!-- <input hidden type="number" name="total" value="<%#totalPrice[0]?.total %>"> -->
                        <button type="submit" class="site-btn">Apply</button>

                        <span style="float: left; width: fit-content;" id="enterCoupon" class="invalid-feedback">
                            Enter Coupon!
                        </span>
                        <span class="text-danger mt-2" style="display: none; width: fit-content;float: right;
                    margin-left: auto;" id="coupon_message"></span>

                    </form>



                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span id="subtotal">₹ <%=subTotal %></span></li>
                        <li>Discount <span id="discount">₹<%=discount %></span></li>
                        <li>Shipping <span id="discount">Free Delivery</span></li>
                        <li>Total <span id="totalPrice" aria-placeholder="">₹ <%=totalPrice[0]?.total %></span></li>
                    </ul>
                    <a onclick="checkingStock()" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function checkingStock() {
        let stock = true
        let stockElements = document.querySelectorAll('.stockCheck')
        stockElements.forEach(element => {
            let stockValue = element.textContent
            if (stockValue == 'Out of Stock') {

                stock = false
            }

        });
        if (stock) {
            window.location.href = "/checkout"
        } else {
            const toastLiveExample = document.getElementById('toasterMessage')
            document.getElementById('toastMessage').innerHTML = "Product has been out of stock."
            const toast = new bootstrap.Toast(toastLiveExample, {
                autohide: true,
                delay: 3000
            })
            toast.show()

        }

    }

</script>
<script>
    var clearCoupon = document.getElementById('appliedCoupon');

    clearCoupon.addEventListener('input', function () {
        var inputValue = clearCoupon.value;

        if (!inputValue) {
            fetch('/clearCoupon', {
                method: 'put',
            }).then(response => {
                return response.json()
            }).then(data => {
         
                if (data.status) {
                    document.getElementById('discount').innerHTML = '₹ ' + 0
                    document.getElementById('coupon_message').classList.replace('text-danger', 'text-success')
                    document.getElementById('coupon_message').innerHTML = 'removed..'
                    document.getElementById('enterCoupon').style.display = 'none'
                }
            })
        }
    });
</script>
<script>
    function deltPro(proId, cartId) {
   
        $.ajax({
            url: '/delete-cart-product',
            type: 'delete',
            data: {
                proId: proId,
                cartId: cartId
            },
            success: (response => {
                if (response.discount == 0) {
                    fetch('/clearCoupon', {
                        method: 'put',
                    }).then(response => {
                        document.getElementById('appliedCoupon').value = '';
                    })
                }
                document.getElementById('discount').innerHTML = '₹ ' + response.discount
                document.getElementById('totalPrice').innerHTML = '₹ ' + response.total
                document.getElementById('subtotal').innerHTML = '₹ ' + response.subTotal
                var cartCountElement = document.getElementById("cartCount");
                var value = cartCountElement.textContent
                cartCountElement.textContent = value - 1;


                $('#cardProduct' + proId).remove()
                const toastLiveExample = document.getElementById('toasterMessage')
                document.getElementById('toastMessage').innerHTML = "Product has been deleted in cart."
                const toast = new bootstrap.Toast(toastLiveExample, {
                    autohide: true,
                    delay: 3000
                })
                toast.show()
            })
        })
    }
</script>

<script>
    $('#couponApply').submit((e) => {
        e.preventDefault()
        const totalPriceElem = document.getElementById('totalPrice');
        const totalPrices = totalPriceElem.innerText;
        let oldPrice = totalPrices
 
        const priceWithoutSymbol = totalPrices.replace("₹ ", "");
        let couponVal = document.getElementById('appliedCoupon').value
        document.getElementById('enterCoupon').style.display = 'none'
      
        if (couponVal.length) {
            $.ajax({
                url: '/coupon_check/' + priceWithoutSymbol,
                type: 'post',
                data: $('#couponApply').serialize(),
                success: (response) => {

                    if (response.status) {
                        document.getElementById('discount').innerHTML = '₹ ' + response.discount
                        document.getElementById('totalPrice').innerHTML = '₹ ' + response.total
                        document.getElementById('coupon_message').classList.replace('text-danger', 'text-success')
                        document.getElementById('coupon_message').innerHTML = 'applied successfull'

                        document.getElementById('coupon_message').style.display = 'block'
                        setTimeout(() => {
                            document.getElementById('coupon_message').style.display = 'none'
                        }, 5000);
                    } else {
                        document.getElementById('coupon_message').classList.replace('text-success', 'text-danger')
                        document.getElementById('coupon_message').innerHTML = response.message

                        document.getElementById('coupon_message').style.display = 'block'
                        setTimeout(() => {
                            document.getElementById('coupon_message').style.display = 'none'
                        }, 5000);
                        document.getElementById('appliedCoupon').value = ''
                        document.getElementById('discount').innerHTML = '₹ ' + 0
                        document.getElementById('totalPrice').innerHTML = totalPrices
                        document.getElementById('enterCoupon').style.display = 'none'
                    }
                }
            })
        } else {
            document.getElementById('enterCoupon').style.display = 'block'
        }

    })
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {

                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    });
</script>