<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords"
        content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">



    <title>Settings | GetMyShoe</title>

    <link href="css2.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Choose your prefered color scheme -->
    <!-- <link href="css/light.css" rel="stylesheet"> -->
    <!-- <link href="css/dark.css" rel="stylesheet"> -->

    <!-- BEGIN SETTINGS -->
    <!-- Remove this after purchasing -->
    <link class="js-stylesheet" href="admin/css/light.css" rel="stylesheet">
    <script src="js/settings.js"></script>
    <style>
        body {
            opacity: 0;
        }
    </style>
    <!-- END SETTINGS -->
    <!--     <script async="" src="gtag/js.js?id=UA-120946860-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120946860-10', { 'anonymize_ip': true });
    </script> -->
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">





    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">Settings</h1>

            <div class="row">
                <div class="col-md-3 col-xl-2">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Profile Settings</h5>
                        </div>

                        <div class="list-group list-group-flush" role="tablist">
                            <a class="list-group-item list-group-item-action active " data-bs-toggle="list"
                                href="#account" role="tab">
                                Account
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#address"
                                role="tab">
                                Address
                            </a>
                            <a class="list-group-item list-group-item-action " data-bs-toggle="list" href="#passwords"
                                role="tab">
                                Password
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#order"
                                role="tab">
                                Orders
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-xl-10">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="account" role="tabpanel">



                            <div class="card">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Personal Information</h5>
                                </div>
                                <div class="card-body">
                                    <form id="perInfo" class="needs-validation" novalidate="">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputFirstName">First name</label>
                                                <input type="text" id="name inputFirstName" class="form-control"
                                                    name="firstName" value="<%=locals.users?.first_name%>" required
                                                    placeholder="First name">
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter First Name!
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputLastName">Last name</label>
                                                <input type="text" value="<%=locals.users?.last_name%>" required
                                                    class="form-control" name="lastName" id="inputLastName"
                                                    placeholder="Last name">
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Enter Last Name!
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">Email</label>
                                            <input type="email" value="<%=locals.users?.email%>" name="email"
                                                class="form-control" id="inputEmail4" placeholder="Email" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter Email!
                                                </div>
                                            <% if (locals.users?.email) { %>


                                                <% if (locals.users?.email_status==="Verified" ) { %>
                                                    <input type="button" style="float: right;" class="btn btn-success"
                                                        value="Verified" disabled></input>
                                                    <% }else if(locals.users?.email_status==="notVerified" ){ %>
                                                        <input type="button"
                                                            onclick="verifyEmail('<%=locals.users?.email%>')"
                                                            style="float: right;" class="btn btn-danger"
                                                            value="notVerified"></input>
                                                        <% } %>
                                                            <% } %>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">Phone</label>
                                            <input type="tel" disabled class="form-control"
                                                value=" <%=locals.users?.phone%>" name="phone" id="inputEmail4"
                                                placeholder="Phone" required>
                                        </div>

                                        <div class="mb-3">

                                            <label class="form-label" for="">Your Gender</label><br>
                                            <% if (locals.users?.gender==='male' ) { %>
                                                <input checked type="radio" value="male" name="gender" id="">
                                                <label class="form-label" for="">Male</label>
                                                <input type="radio" value="female" name="gender" id="">
                                                <label class="form-label" for="">Female</label><br>
                                                <% }else{ %>
                                                    <input checked type="radio" value="male" name="gender" id="">
                                                    <label class="form-label" for="">Male</label>
                                                    <input checked type="radio" value="female" name="gender" id="">
                                                    <label class="form-label" for="">Female</label><br>
                                                    <% } %>

                                        </div>
                                        <div class="mb-3">
                                            <label for="age">Age:</label>
                                            <input type="number" id="age" value="<%=locals.users?.age%>" name="age"
                                                min="0" max="150" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter Age!
                                                </div>
                                        </div>
                                        <!-- <div class="mb-3">
                                            <label class="form-label" for="inputAddress">Address</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                placeholder="1234 Main St">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputAddress2">Address 2</label>
                                            <input type="text" class="form-control" id="inputAddress2"
                                                placeholder="Apartment, studio, or floor">
                                        </div> -->
                                        <!--     <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputCity">City</label>
                                                <input type="text" class="form-control" id="inputCity">
                                            </div>
                                            <div class="mb-3 col-md-4">
                                                <label class="form-label" for="inputState">State</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-2">
                                                <label class="form-label" for="inputZip">Zip</label>
                                                <input type="text" class="form-control" id="inputZip">
                                            </div>
                                        </div> -->
                                        <button type="submit" id="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                    <div id="message" class="text-center  p-t-12">
                                        <span id="messageDisplay" class="txt1 text-danger">
                                        </span>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade " id="address" role="tabpanel">
                            <div class="card">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Address Information</h5>
                                </div>
                                <div class="card-body" style="border: solid 0.5px currentColor;">
                                    <div onclick="addAddress()">
                                        <div><img height="14" width="14"
                                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiMyMTc1RkYiIGQ9Ik0xMS4yNSA2Ljc1aC00LjV2NC41aC0xLjV2LTQuNUguNzV2LTEuNWg0LjVWLjc1aDEuNXY0LjVoNC41Ii8+PHBhdGggZD0iTS0zLTNoMTh2MThILTMiLz48L2c+PC9zdmc+">
                                            ADD
                                            A NEW ADDRESS</div>
                                    </div>
                                    <form style="display: none;" id="perInfoAdrs">

                                        <div class="mb-3 ">
                                            <label class="form-label" for="">Name</label>
                                            <input type="text" class="form-control" name="name" value="" required
                                                placeholder="Name">
                                        </div>
                                        <div class="mb-3 ">
                                            <label class="form-label" for="">phone</label>
                                            <input type="tel" class="form-control" name="phone" value="" required
                                                placeholder="10-digit mobile number">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="">pincode</label>
                                            <input type="text" class="form-control" name="pincode" value="" required
                                                placeholder="Pincode">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="">Locality</label>
                                            <input type="text" class="form-control" name="locality" value="" required
                                                placeholder="Locality">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Address</label>
                                            <textarea name="address" id="" cols="10" rows="4" tabindex="5" value=""
                                                required class="form-control"
                                                placeholder="Address (Area and Street)"></textarea>

                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">City</label>
                                            <input type="text" value="" required name="city" class="form-control"
                                                placeholder="City/Distric/Town">


                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">State</label>
                                            <select id="state-select" class="form-control" name="state">
                                                <option value="">--Select State--</option>
                                                <option value="Andhra Pradesh[16.5062, 80.6480]">Andhra Pradesh</option>
                                                <option value="Arunachal Pradesh[28.2180, 94.7278]">Arunachal Pradesh
                                                </option>
                                                <option value="Assam[26.2006, 92.9376]">Assam</option>
                                                <option value="Bihar[25.0961, 85.3131]">Bihar</option>
                                                <option value="Chhattisgarh[21.2787, 81.8661]">Chhattisgarh</option>
                                                <option value="Goa[15.2993, 74.1240]">Goa</option>
                                                <option value="Gujarat[22.2587, 71.1924]">Gujarat</option>
                                                <option value="Haryana[29.0588, 76.0856]">Haryana</option>
                                                <option value="Himachal Pradesh[31.1048, 77.1734]">Himachal Pradesh
                                                </option>
                                                <option value="Jharkhand[23.6102, 85.2799]">Jharkhand</option>
                                                <option value="Karnataka[15.3173, 75.7139]">Karnataka</option>
                                                <option value="Kerala[10.8505, 76.2711]">Kerala</option>
                                                <option value="Madhya Pradesh[22.9734, 78.6569]">Madhya Pradesh</option>
                                                <option value="Maharashtra[19.7515, 75.7139]">Maharashtra</option>
                                                <option value="Manipur[24.6637, 93.9063]">Manipur</option>
                                                <option value="Meghalaya[25.4670, 91.3662]">Meghalaya</option>
                                                <option value="Mizoram[23.1645, 92.9376]">Mizoram</option>
                                                <option value="Nagaland[26.1584, 94.5624]">Nagaland</option>
                                                <option value="Odisha[20.9517, 85.0985]">Odisha</option>
                                                <option value="Punjab[31.1471, 75.3412]">Punjab</option>
                                                <option value="Rajasthan[27.0238, 74.2179]">Rajasthan</option>
                                                <option value="Sikkim[27.5330, 88.5122]">Sikkim</option>
                                                <option value="Tamil Nadu11.1271, 78.6569]">Tamil Nadu</option>
                                                <option value="Telangana[18.1124, 79.0193]">Telangana</option>
                                                <option value="Tripura[23.9408, 91.9882]">Tripura</option>
                                                <option value="Uttar Pradesh[26.8467, 80.9462]">Uttar Pradesh</option>
                                                <option value="Uttarakhand[30.0668, 79.0193]">Uttarakhand</option>
                                                <option value="West Bengal[22.9868, 87.8550]">West Bengal</option>
                                            </select>


                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Landmark</label>
                                            <input type="text" value="" required class="form-control" name="landmark"
                                                placeholder="Landmark (Optional)">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Alternate Phone</label>
                                            <input type="text" value="" required class="form-control"
                                                name="alternate-phone" placeholder="Alternate Phone (Optional)">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Address Type</label><br>

                                            <input type="radio" id="home-radio" name="address-type" value="home">
                                            <label for="home-radio">Home</label>
                                            <input type="radio" id="work-radio" name="address-type" value="work">
                                            <label for="work-radio">Work</label>
                                        </div>

                                        <button type="submit" id="submit" class="btn btn-primary me-2">Add
                                            Address</button>
                                        <button onclick="addressCancel()" class="btn btn-warning">Cancel</button>
                                    </form>

                                </div>


                            </div>

                            <% (users?.address || []).forEach(address=> { %>
                                <div id="editAds<%=address?._id%>" style="display: none;" class="card">

                                    <div class="card-body" style="border: solid 0.5px currentColor;">
                                        <div>
                                            <div>
                                                Edit ADDRESS</div>
                                        </div>
                                        <form id="perInfoEditAdrs" class="perInfoEditAdrs">
                                            <input hidden type="text" value="<%=address?._id%>" name="id">
                                            <div class="mb-3 ">
                                                <label class="form-label" for="">Name</label>
                                                <input type="text" class="form-control" name="name"
                                                    value="<%=address?.name%>" required placeholder="Name">
                                            </div>
                                            <div class="mb-3 ">
                                                <label class="form-label" for="">phone</label>
                                                <input type="tel" class="form-control" name="phone"
                                                    value="<%=address?.phone%>" required
                                                    placeholder="10-digit mobile number">
                                            </div>

                                            <div class="mb-3 ">
                                                <label class="form-label" for="">pincode</label>
                                                <input type="text" class="form-control" name="pincode"
                                                    value="<%=address?.pincode%>" required placeholder="Pincode">
                                            </div>

                                            <div class="mb-3 ">
                                                <label class="form-label" for="">Locality</label>
                                                <input type="text" class="form-control" name="locality"
                                                    value="<%=address?.locality%>" required placeholder="Locality">
                                            </div>

                                            <div class="mb-3 ">
                                                <label class="form-label" for="inputLastName">Address</label>
                                                <textarea name="address" id="" cols="10" rows="4" tabindex="5" value=""
                                                    required class="form-control"
                                                    placeholder="Address (Area and Street)"><%=address?.address%></textarea>

                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="inputEmail4">City</label>
                                                <input type="text" value="<%=address?.city%>" required name="city"
                                                    class="form-control" placeholder="City/Distric/Town">


                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="inputEmail4">State</label>
                                                <select id="editstate-select" required
                                                    data-address='<%=address?.state%>' class="form-control"
                                                    name="state">
                                                    <option value="">--Select State--</option>
                                                    <option value="Andhra Pradesh[16.5062, 80.6480]">Andhra Pradesh
                                                    </option>
                                                    <option value="Arunachal Pradesh[28.2180, 94.7278]">Arunachal
                                                        Pradesh
                                                    </option>
                                                    <option value="Assam[26.2006, 92.9376]">Assam</option>
                                                    <option value="Bihar[25.0961, 85.3131]">Bihar</option>
                                                    <option value="Chhattisgarh[21.2787, 81.8661]">Chhattisgarh</option>
                                                    <option value="Goa[15.2993, 74.1240]">Goa</option>
                                                    <option value="Gujarat[22.2587, 71.1924]">Gujarat</option>
                                                    <option value="Haryana[29.0588, 76.0856]">Haryana</option>
                                                    <option value="Himachal Pradesh[31.1048, 77.1734]">Himachal Pradesh
                                                    </option>
                                                    <option value="Jharkhand[23.6102, 85.2799]">Jharkhand</option>
                                                    <option value="Karnataka[15.3173, 75.7139]">Karnataka</option>
                                                    <option value="Kerala[10.8505, 76.2711]">Kerala</option>
                                                    <option value="Madhya Pradesh[22.9734, 78.6569]">Madhya Pradesh
                                                    </option>
                                                    <option value="Maharashtra[19.7515, 75.7139]">Maharashtra</option>
                                                    <option value="Manipur[24.6637, 93.9063]">Manipur</option>
                                                    <option value="Meghalaya[25.4670, 91.3662]">Meghalaya</option>
                                                    <option value="Mizoram[23.1645, 92.9376]">Mizoram</option>
                                                    <option value="Nagaland[26.1584, 94.5624]">Nagaland</option>
                                                    <option value="Odisha[20.9517, 85.0985]">Odisha</option>
                                                    <option value="Punjab[31.1471, 75.3412]">Punjab</option>
                                                    <option value="Rajasthan[27.0238, 74.2179]">Rajasthan</option>
                                                    <option value="Sikkim[27.5330, 88.5122]">Sikkim</option>
                                                    <option value="Tamil Nadu11.1271, 78.6569]">Tamil Nadu</option>
                                                    <option value="Telangana[18.1124, 79.0193]">Telangana</option>
                                                    <option value="Tripura[23.9408, 91.9882]">Tripura</option>
                                                    <option value="Uttar Pradesh[26.8467, 80.9462]">Uttar Pradesh
                                                    </option>
                                                    <option value="Uttarakhand[30.0668, 79.0193]">Uttarakhand</option>
                                                    <option value="West Bengal[22.9868, 87.8550]">West Bengal</option>
                                                </select>


                                            </div>

                                            <div class="mb-3 ">
                                                <label class="form-label" for="inputLastName">Landmark</label>
                                                <input type="text" value="<%=address?.landmark%>" required
                                                    class="form-control" name="landmark"
                                                    placeholder="Landmark (Optional)">
                                            </div>

                                            <div class="mb-3 ">
                                                <label class="form-label" for="inputLastName">Alternate Phone</label>
                                                <input type="text" value="<%=address?.alternate_phone%>" required
                                                    class="form-control" name="alternate_phone"
                                                    placeholder="Alternate Phone (Optional)">
                                            </div>

                                            <div class="mb-3 ">
                                                <% if (address?.address_type==='home' ) { %>

                                                    <label class="form-label" for="inputLastName">Address
                                                        Type</label><br>
                                                    <input type="radio" id="home-radio" checked name="address_type"
                                                        value="home">
                                                    <label for="home-radio">Home</label>
                                                    <input type="radio" id="work-radio" name="address_type"
                                                        value="work">
                                                    <label for="work-radio">Work</label>
                                                    <% }else{%>
                                                        <label class="form-label" for="inputLastName">Address
                                                            Type</label><br>
                                                        <input type="radio" id="home-radio" name="address_type"
                                                            value="home">
                                                        <label for="home-radio">Home</label>
                                                        <input type="radio" id="work-radio" checked name="address_type"
                                                            value="work">
                                                        <label for="work-radio">Work</label>
                                                        <% } %>
                                            </div>

                                            <button type="submit" id="submit" class="btn btn-primary me-2">Save</button>
                                            <button onclick="editAddressCancel('<%=address?._id%>')"
                                                class="btn btn-warning">Cancel</button>
                                        </form>

                                    </div>
                                </div>


                                <!--                <style>
                                    .dropstart:hover>.dropdown-menu {
                                        display: block;
                                    }

                                    .dropstart>.dropdown-toggle:active {
                                        /*Without this, clicking will make it sticky*/
                                        pointer-events: none;
                                    }
                                </style> -->

                                <div class="card" id="adrsCard<%=address?._id%>">
                                    <div style=" 
                                    overflow: hidden;
                                    padding: 20px; ">
                                        <div style="
                                        max-width: 35px;
                                        float: right; ">
                                            <div class="dropstart">
                                                <!-- <button class="btn btn-primary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-mdb-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Dropdown button
                                                </button> -->
                                                <img class=" dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgNCAxNiI+CiAgICA8ZyBmaWxsPSIjODc4Nzg3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgY3g9IjIiIGN5PSIyIiByPSIyIi8+CiAgICAgICAgPGNpcmNsZSBjeD0iMiIgY3k9IjgiIHI9IjIiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIyIiBjeT0iMTQiIHI9IjIiLz4KICAgIDwvZz4KPC9zdmc+Cg==">
                                                <ul class="dropdown-menu  ">
                                                    <li><a class="dropdown-item"
                                                            onclick="editAddress('<%=address?._id%>')">Edit</a></li>
                                                    <li><a onclick="deleteAddress('<%=address?._id%>')"
                                                            class="dropdown-item">Delete</a></li>

                                                </ul>
                                            </div>
                                            <!-- <div class="dropdown"><img class="dropbtn"
                                                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgNCAxNiI+CiAgICA8ZyBmaWxsPSIjODc4Nzg3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgY3g9IjIiIGN5PSIyIiByPSIyIi8+CiAgICAgICAgPGNpcmNsZSBjeD0iMiIgY3k9IjgiIHI9IjIiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIyIiBjeT0iMTQiIHI9IjIiLz4KICAgIDwvZz4KPC9zdmc+Cg==">
                                                <div class="dropdown-content">
                                                    <div class="_16FXBY"><span>Edit</span></div>
                                                    <div class="_16FXBY"><span>Delete</span></div>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div style=" margin-bottom: 10px; "><span style="
                                            text-transform: uppercase;
                                            font-size: 11px;
                                            color: #878787;
                                            vertical-align: middle;
                                            padding: 4px 7px;
                                            border-radius: 2px;
                                            background-color: #f0f0f0;
                                            font-weight: 500;
                                            margin-right: 15px;
                                        ">
                                                <%=address?.address_type%>
                                            </span></div>
                                        <p style="line-height: 1.5;">
                                            <span style=" font-weight: 500;">
                                                <%=address?.name%>
                                            </span>
                                            <span style="margin: 0 0 0 15px; font-weight: 500;">
                                                <%=address?.phone%>
                                            </span>

                                        </p>
                                        <span style=" margin-top: 10px;display: block; max-width: 523px; ">
                                            <%=address?.address%>, <%=address?.locality%>,
                                                    <%=address?.city%>, <%=address?.state%> - <span
                                                                style=" font-weight: 500; ">
                                                                <%=address?.pincode%>
                                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <% }) %>
                        </div>





                        <div class="tab-pane fade" id="passwords" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Password</h5>

                                    <form id="changePass" onsubmit="return validateForm()">
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordCurrent">Current
                                                password</label>
                                            <input type="password" name="current_password" class="form-control"
                                                id="inputPasswordCurrent" required>
                                            <small><a href="/reset_password">Forgot your password?</a></small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordNew">New
                                                password</label>
                                            <input type="password" name="new_password" class="form-control"
                                                id="password" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordNew2">Confirm
                                                password</label>
                                            <input type="password" name="confirm_password" class="form-control"
                                                id="confirmPassword" required>
                                        </div>

                                        <div style="display:none;" id="error_message" class="text-center  p-t-12">
                                            <span id="mySpan" class="txt1 text-danger">
                                                Please enter match password
                                            </span>

                                        </div>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade " id="order" role="tabpanel">
                            <div class="card">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Orders Information</h5>
                                </div>
                                <div class="card-body">

                                    <% (locals.orders || []).forEach(order=> { %>
                                        <div>

                                            <span> Order Id : #<%=order._id %></span>
                                            <% if (order.status==='placed' && order.shipping_status==='Order Placed' ||
                                                order.shipping_status==='Shipped' ) { %>
                                                <span class="text-danger ms-3" style="float: right; "><a
                                                        style="text-decoration: none; color: red;"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop<%=order._id%>">Cancel</a>
                                                </span>
                                                <% } %>
                                                    <% if (order.status==='placed' ) { %>
                                                        <span style="float: right;"><a style="text-decoration: none;"
                                                                href="/invoice/<%=order._id %>">Invoice</a> </span>
                                                        <% } %>
                                                            <% (order.productInfo || []).forEach(orderPro=> { %>
                                                                <a style="text-decoration: none; color: black;"
                                                                    href="/order-details/<%= order._id%>/<%= orderPro._id%>">
                                                                    <div class="row"
                                                                        style="border: solid 0.5px; padding: 5px;    margin: 5px;">
                                                                        <div class="col-2">
                                                                            <div class="CXW8mj"
                                                                                style="height: 75px;width: 75px; margin: auto;">
                                                                                <img style=" height: 100%;" alt=""
                                                                                    src="/images/products_image/<%= orderPro.product_image[0]%>">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <span style="box-shadow: none;
                                            padding: 0;
                                            border: none;
                                            font-size: 14px;
                                            text-decoration: none;
                                            color: #212121;
                                            margin-bottom: 10px;
                                            font-weight: 400;">
                                                                                <%= orderPro.product_name %>
                                                                            </span>
                                                                            <div><span style="color: #878787;
                                                font-size: 12px;
                                                margin-bottom: 5px;"><span>Size:
                                                                                    </span><span class="-igymY">7 8 9
                                                                                        10</span></span><span
                                                                                    class="_3dOR_a"></span></div>
                                                                        </div>
                                                                        <div style="color: #212121;
                                        text-transform: uppercase;" class="col-2">
                                                                            <% let price=orderPro.product_price *
                                                                                orderPro.quantity %>
                                                                                ₹<%= price %>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <div>
                                                                                <% if
                                                                                    (order.shipping_status==='Order Placed'
                                                                                    || order.shipping_status==='Shipped'
                                                                                    ||
                                                                                    order.shipping_status==='Delivered'
                                                                                    ) { %>
                                                                                    <div class="me-2 mt-1" style="float: left;
                                                                background-color: #6aec87;
                                                                border: 7px solid #56e251;
                                                                border-radius: 10px;"></div>
                                                                                    <% }else if
                                                                                        (order.shipping_status==='Processing'
                                                                                        ){ %>
                                                                                        <div class="me-2 mt-1" style="float: left;
                                                            background-color: #ff6161;
                                                            border: 7px solid #ff6161;
                                                            border-radius: 10px;"></div>
                                                                                        <% } else if
                                                                                            (order.shipping_status==='In Transit'
                                                                                            ||order.shipping_status==='Out for Delivery'
                                                                                            ){ %>

                                                                                            <div class="me-2 mt-1"
                                                                                                style="float: left;
                                                                background-color: #beec6a;
                                                                border: 7px solid #beec6a;
                                                                border-radius: 10px;"></div>
                                                                                            <% } else { %>
                                                                                                <div class="me-2 mt-1"
                                                                                                    style="float: left;
                                                                background-color: #e71818;
                                                                border: 7px solid #e71818;
                                                                border-radius: 10px;"></div>
                                                                                                <% }%>
                                                                                                    <span style="font-size: 14px;
                                                font-weight: 500;">
                                                                                                        <%=
                                                                                                            order.shipping_status%>
                                                                                                    </span>
                                                                                                    <div style="    font-size: 12px;
                                                margin-top: 8px;">Your item has been <%= order.shipping_status%>.</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <% }) %>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop<%= order._id%>"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class=" modal-dialog modal-sm modal-dialog-centered">
                                                <div class="modal-content ">

                                                    <div class="modal-body">
                                                        Are you want to cancel order ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <a href="/order_cancel/<%=order._id%>"><button type="button"
                                                                class="btn btn-danger">Order Cancel</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>

                                            <!-- 
                                    <div class="card">
                                        <table>
                                            <tr>

                                                <th></th>
                                                <th>product name</th>
                                                <th>price</th>
                                                <th>status</th>


                                            </tr>

                                            <% (locals.orders || []).forEach(order=> { %>

                                                <% (order.productInfo || []).forEach(orderPro=> { %>

                                                    <tr style="border: 1px solid black;">
                                                        <td> <a
                                                                href="/order-details/<%= order._id%>/<%= orderPro._id%>"><img
                                                                    style="width: 100px;"
                                                                    src="/images/products_image/<%= orderPro.product_image[0]%>"
                                                                    alt=""></a></td>
                                                        <td>
                                                            <%= orderPro.product_name %>
                                                        </td>
                                                        <td>
                                                            <%= orderPro.product_price %>
                                                        </td>
                                                        <td>
                                                            <%= order.status%>
                                                        </td>

                                                    </tr>

                                                    <% }) %>

                                                        <% }) %>

                                        </table>
                                    </div>
 -->
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </main>
    <div class="toast-container position-fixed bottom-0  mb-5 end-0 p-3">
        <div id="toasterMessage" class="toast align-items-center bg-success text-bg-primary border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div style="font-size: 20px;" class="toast-body">
                    <span class="text-white" id="toastMessage"></span>

                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        const form = document.querySelector('#perInfo');

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const firstName = formData.get('firstName');
            const lastName = formData.get('lastName');

            const email = formData.get('email');
            const phone = formData.get('phone');
            const gender = formData.get('gender');
            const age = formData.get('age');
console.log(firstName, lastName, email, phone, gender, age );
            if (firstName && lastName && email &&  gender && age) {
                fetch('/profile_info', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ firstName, lastName, email, phone, gender, age }),
                }).then(response => {
                    return response.json()
                }).then(data => {
                    console.log(data, "data");
                    if (data.status) {
                        const toastLiveExample = document.getElementById('toasterMessage')

                        document.getElementById('toastMessage').innerHTML = "Personal Information Updated."
                        const toast = new bootstrap.Toast(toastLiveExample, {
                            autohide: true,
                            delay: 3000
                        })
                        toast.show()
                    } else {
                        $('#messageDisplay').html(data.message)
                        $('#message').attr('hidden', false)

                        setTimeout(function () {

                            $('#message').attr('hidden', true)
                        }, 5000);
                    }
                })
                    .catch(error => {
                        console.log(error);
                        $('#messageDisplay').html(error.message)
                        $('#message').attr('hidden', false)

                        setTimeout(function () {

                            $('#message').attr('hidden', true)
                        }, 5000);
                    })

            }


        }); 
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('#perInfoAdrs').submit(function (event) {
            event.preventDefault();

            const formData = {
                name: $('input[name=name]').val(),
                phone: $('input[name=phone]').val(),
                pincode: $('input[name=pincode]').val(),
                locality: $('input[name=locality]').val(),
                address: $('textarea[name=address]').val(),
                city: $('input[name=city]').val(),
                state: $('select[name=state]').val(),
                landmark: $('input[name=landmark]').val(),
                alternate_phone: $('input[name=alternate-phone]').val(),
                address_type: $('input[name=address-type]:checked').val()
            };

            $.ajax({
                type: 'POST',
                url: '/profile_info_adrs',
                data: formData,
                success: function (data) {
                    document.getElementById('perInfoAdrs').style.display = 'none'
                    document.getElementById('perInfoAdrs').reset();
                    console.log('Success:', data);
                },
                error: function (err) {
                    console.log('Error:', err);
                }
            });
        });

    </script>
    <script>
        $('.perInfoEditAdrs').submit(function (event) {
            event.preventDefault();

            var formData = $(this).serialize()
            console.log(formData);
            $.ajax({
                type: 'POST',
                url: '/updateAddress',
                data: formData,
                success: (data) => {
                    console.log(data);
                    location.reload()
                    document.getElementById('perInfoEditAdrs').style.display = 'none'
                    document.getElementById('perInfoEditAdrs').reset();
                    document.getElementById('adrsCard' + id).style.display = 'block'
                    console.log('Success:', data);
                },
                error: function (err) {
                    console.log('Error:', err);
                }
            });
        });

    </script>

    <!--     <script>
        function orderDetails(orderId,proId){
            console.log("noooooooooo");
            $.ajax({
                type:'post',
                url:'/order-details',
               
                data:({orders:orderId,pro:proId}),
                success:(response=>{

                })
            })
        }
    </script> -->
    <!-- <script>

     
        const formadres = document.querySelector('#perInfoAdrs');

        form.addEventListener('submit1', async (event) => {
            event.preventDefault();

            const formData = new FormData(formadres);
            const addressLine1 = formData.get('address_line_1');
            const addressLine2 = formData.get('address_line_2');
            const city = formData.get('city');
            const state = formData.get('state');
            const zip = formData.get('zip');

            try {
                const response = await fetch('/profile_info_adrs', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ addressLine1, addressLine2, city, state, zip }),
                });
                const data = await response.text();
                console.log(data);
                // Display success message to user
            } catch (error) {
                console.error(error);
                // Display error message to user
            }
        }); 
    </script> -->
    <!--     <script>
        const tabs = document.querySelectorAll('.list-group-item');
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                // Remove the active class from all tabs
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                });
                // Add the active class to the clicked tab
                tab.classList.add('active');
            });
        });
    </script> -->


    <script src="/admin/js/app.js"></script>


</body>

</html>
<script>
    function validateForm() {
        const passwordField = document.getElementById('password');
        const confirmPasswordField = document.getElementById('confirmPassword');
        if (passwordField.value !== confirmPasswordField.value) {
            document.getElementById('mySpan').innerHTML = ' Please enter match password!';
            document.getElementById("error_message").style.display = "block"
            /* alert("Please enter a valid 10-digit phone number"); */
            setTimeout(function () {
                document.getElementById("error_message").style.display = "none";
            }, 5000);
            return false;

        }
        return true;
    }
</script>

<script>
    function deleteAddress(id) {
        $.ajax({
            type: 'post',
            url: "/address_delete/" + id,
            success: (response) => {
                location.reload()

            }
        })
    }
</script>

<script>
    $('#changePass').submit((e) => {

        e.preventDefault()
        $.ajax({
            url: '/change-password',
            type: 'post',
            data: $('#changePass').serialize(),
            success: (Response) => {
                console.log(Response);
                if (Response) {
                    document.getElementById('mySpan').innerHTML = 'Successfully!';
                    document.getElementById('mySpan').style.color = 'green'
                    document.getElementById("error_message").style.display = "block"

                    setTimeout(function () {

                        document.getElementById("error_message").style.display = "none";
                        const myForm = document.getElementById('changePass').reset()


                    }, 5000);
                } else {
                    document.getElementById("error_message").style.display = "block"
                    /* alert("Please enter a valid 10-digit phone number"); */
                    setTimeout(function () {
                        document.getElementById("error_message").style.display = "none";
                        const myForm = document.getElementById('changePass').reset()
                    }, 5000);
                }
            }
        })
    })
</script>
<script>
    function verifyEmail(email) {
        $.ajax({
            type: 'post',
            url: '/emailverification',
            data: { email: email },
            success: (response => {
                if (response) {
                    window.location.href = response.redirectUrl

                }
            })
        })
    }

    function editAddress(id) {
        document.getElementById('editAds' + id).style.display = 'block'
        document.getElementById('adrsCard' + id).style.display = 'none'
    }
    function editAddressCancel(id) {
        document.getElementById('editAds' + id).style.display = 'none'
        document.getElementById('perInfoEditAdrs').reset()
        document.getElementById('adrsCard' + id).style.display = 'block'
    }
    function addAddress() {
        document.getElementById('perInfoAdrs').style.display = 'block'
    }
    function addressCancel() {
        document.getElementById('perInfoAdrs').style.display = 'none'
        document.getElementById('perInfoAdrs').reset()
    }
</script>

<script>
    // Get the ID of the last selected tab from localStorage
    let lastTab = localStorage.getItem('lastTab');

    // Set the active tab based on the lastTab ID, or default to the first tab
    let activeTab = document.querySelector(lastTab) || document.querySelector('.list-group-item:first-child');
    activeTab.classList.add('active');

    // Add a click event listener to each tab to update the lastTab value in localStorage
    document.querySelectorAll('.list-group-item').forEach(tab => {
        tab.addEventListener('click', function () {
            localStorage.setItem('lastTab', this.getAttribute('href'));
        });
    });


</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    });
</script>