<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords"
        content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/admin/img/icons/icon-48x48.png">

    <link rel="canonical" href="pages-settings.html">

    <title>Settings | AdminKit Demo</title>

    <link href="css2.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Choose your prefered color scheme -->
    <!-- <link href="css/light.css" rel="stylesheet"> -->
    <!-- <link href="css/dark.css" rel="stylesheet"> -->

    <!-- BEGIN SETTINGS -->
    <!-- Remove this after purchasing -->
    <link class="js-stylesheet" href="admin/css/light.css" rel="stylesheet">
    <script src="js/settings.js"></script>
    <style>
        body {
            opacity: 0;
        }
    </style>
    <!-- END SETTINGS -->
    <!--     <script async="" src="gtag/js.js?id=UA-120946860-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120946860-10', { 'anonymize_ip': true });
    </script> -->
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">





    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">Settings</h1>

            <div class="row">
                <div class="col-md-3 col-xl-2">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Profile Settings</h5>
                        </div>

                        <div class="list-group list-group-flush" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-bs-toggle="list"
                                href="#account" role="tab">
                                Account
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#address"
                                role="tab">
                                Address
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#passwords"
                                role="tab">
                                Password
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#order"
                                role="tab">
                                Orders
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                                Privacy and safety
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                                Email notifications
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                                Web notifications
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                                Widgets
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                                Your data
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                                Delete account
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-xl-10">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="account" role="tabpanel">

                            <!--      <div class="card">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Public info</h5>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="mb-3">
                                                    <label class="form-label" for="inputUsername">Username</label>
                                                    <input type="text" class="form-control" id="inputUsername"
                                                        placeholder="Username">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="inputUsername">Biography</label>
                                                    <textarea rows="2" class="form-control" id="inputBio"
                                                        placeholder="Tell something about yourself"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-center">
                                                    <img alt="Charles Hall" src="/admin/img/avatars/avatar.jpg"
                                                        class="rounded-circle img-responsive mt-2" width="128"
                                                        height="128">
                                                    <div class="mt-2">
                                                        <span class="btn btn-primary"><i class="fas fa-upload"></i>
                                                            Upload</span>
                                                    </div>
                                                    <small>For best results, use an image at least 128px by 128px in
                                                        .jpg format</small>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div> -->

                            <div class="card">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Personal Information</h5>
                                </div>
                                <div class="card-body">
                                    <form id="perInfo">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputFirstName">First name</label>
                                                <input type="text" id="name inputFirstName" class="form-control"
                                                    name="firstName" value="<%=locals.users?.first_name%>" required
                                                    placeholder="First name">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputLastName">Last name</label>
                                                <input type="text" value="<%=locals.users?.last_name%>" required
                                                    class="form-control" name="lastName" id="inputLastName"
                                                    placeholder="Last name">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">Email</label>
                                            <input type="email" value="<%=locals.users?.email%>" name="email"
                                                class="form-control" id="inputEmail4" placeholder="Email">
                                            <% if (locals.users?.email) { %>


                                                <% if (locals.users?.email_status==="Verified" ) { %>
                                                    <input type="button" style="float: right;" class="btn btn-success"
                                                        value="Verified" disabled></input>
                                                    <% }else if(locals.users?.email_status==="notVerified" ){ %>
                                                        <input type="button"
                                                            onclick="verifyEmail('<%=locals.users?.email%>')"
                                                            style="float: right;" class="btn btn-danger"
                                                            value="notVerified"></input>
                                                        <% } %>
                                                            <% } %>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">Phone</label>
                                            <input type="tel" disabled class="form-control"
                                                value=" <%=locals.users?.phone%>" name="phone" id="inputEmail4"
                                                placeholder="Phone">
                                        </div>
                                        <!-- <div class="mb-3">
                                            <label class="form-label" for="inputAddress">Address</label>
                                            <input type="text" class="form-control" id="inputAddress"
                                                placeholder="1234 Main St">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputAddress2">Address 2</label>
                                            <input type="text" class="form-control" id="inputAddress2"
                                                placeholder="Apartment, studio, or floor">
                                        </div> -->
                                        <!--     <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputCity">City</label>
                                                <input type="text" class="form-control" id="inputCity">
                                            </div>
                                            <div class="mb-3 col-md-4">
                                                <label class="form-label" for="inputState">State</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-2">
                                                <label class="form-label" for="inputZip">Zip</label>
                                                <input type="text" class="form-control" id="inputZip">
                                            </div>
                                        </div> -->
                                        <button type="submit" id="submit" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade " id="address" role="tabpanel">
                            <div class="card">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Address Information</h5>
                                </div>
                                <div class="card-body">
                                    <form id="perInfoAdrs">

                                        <div class="mb-3 ">
                                            <label class="form-label" for="">Name</label>
                                            <input type="text" class="form-control" name="name" value="" required
                                                placeholder="Name">
                                        </div>
                                        <div class="mb-3 ">
                                            <label class="form-label" for="">phone</label>
                                            <input type="tel" class="form-control" name="phone" value="" required
                                                placeholder="10-digit mobile number">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="">pincode</label>
                                            <input type="text" class="form-control" name="pincode" value="" required
                                                placeholder="Pincode">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="">Locality</label>
                                            <input type="text" class="form-control" name="locality" value="" required
                                                placeholder="Locality">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Address</label>
                                            <textarea name="address" id="" cols="10" rows="4" tabindex="5" value=""
                                                required class="form-control"
                                                placeholder="Address (Area and Street)"></textarea>

                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">City</label>
                                            <input type="text" value="" required name="city" class="form-control"
                                                placeholder="City/Distric/Town">


                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">State</label>
                                            <select id="state-select" class="form-control" name="state">
                                                <option value="">--Select State--</option>
                                                <option value="Andhra Pradesh[16.5062, 80.6480]">Andhra Pradesh</option>
                                                <option value="Arunachal Pradesh[28.2180, 94.7278]">Arunachal Pradesh</option>
                                                <option value="Assam[26.2006, 92.9376]">Assam</option>
                                                <option value="Bihar[25.0961, 85.3131]">Bihar</option>
                                                <option value="Chhattisgarh[21.2787, 81.8661]">Chhattisgarh</option>
                                                <option value="Goa[15.2993, 74.1240]">Goa</option>
                                                <option value="Gujarat[22.2587, 71.1924]">Gujarat</option>
                                                <option value="Haryana[29.0588, 76.0856]">Haryana</option>
                                                <option value="Himachal Pradesh[31.1048, 77.1734]">Himachal Pradesh</option>
                                                <option value="Jharkhand[23.6102, 85.2799]">Jharkhand</option>
                                                <option value="Karnataka[15.3173, 75.7139]">Karnataka</option>
                                                <option value="Kerala[10.8505, 76.2711]">Kerala</option>
                                                <option value="Madhya Pradesh[22.9734, 78.6569]">Madhya Pradesh</option>
                                                <option value="Maharashtra[19.7515, 75.7139]">Maharashtra</option>
                                                <option value="Manipur[24.6637, 93.9063]">Manipur</option>
                                                <option value="Meghalaya[25.4670, 91.3662]">Meghalaya</option>
                                                <option value="Mizoram[23.1645, 92.9376]">Mizoram</option>
                                                <option value="Nagaland[26.1584, 94.5624]">Nagaland</option>
                                                <option value="Odisha[20.9517, 85.0985]">Odisha</option>
                                                <option value="Punjab[31.1471, 75.3412]">Punjab</option>
                                                <option value="Rajasthan[27.0238, 74.2179]">Rajasthan</option>
                                                <option value="Sikkim[27.5330, 88.5122]">Sikkim</option>
                                                <option value="Tamil Nadu11.1271, 78.6569]">Tamil Nadu</option>
                                                <option value="Telangana[18.1124, 79.0193]">Telangana</option>
                                                <option value="Tripura[23.9408, 91.9882]">Tripura</option>
                                                <option value="Uttar Pradesh[26.8467, 80.9462]">Uttar Pradesh</option>
                                                <option value="Uttarakhand[30.0668, 79.0193]">Uttarakhand</option>
                                                <option value="West Bengal[22.9868, 87.8550]">West Bengal</option>
                                            </select>


                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Landmark</label>
                                            <input type="text" value="" required class="form-control" name="landmark"
                                                placeholder="Landmark (Optional)">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Alternate Phone</label>
                                            <input type="text" value="" required class="form-control"
                                                name="alternate-phone" placeholder="Alternate Phone (Optional)">
                                        </div>

                                        <div class="mb-3 ">
                                            <label class="form-label" for="inputLastName">Address Type</label><br>

                                            <input type="radio" id="home-radio" name="address-type" value="home">
                                            <label for="home-radio">Home</label>
                                            <input type="radio" id="work-radio" name="address-type" value="work">
                                            <label for="work-radio">Work</label>
                                        </div>

                                        <button type="submit" id="submit" class="btn btn-primary">Add
                                            Address</button>
                                    </form>

                                </div>
                            </div>
                            <% (users?.address || []).forEach(address=> { %>

                           

                                <div class="card">
                                    <div class="card-header" style="display: flex;">
                                        <h5>

                                            <%=address?.address_type%>
                                        </h5>
                                        <button class="btn btn-primary" style="margin-left: auto;">Edit</button>
                                    </div>
                                    <div class="card-body">
                                        <table>
                                            <tr>
                                                <th>name</th>
                                                <th>phone</th>
                                                <th>address</th>
                                                <th>locality</th>
                                                <th>city</th>
                                                <th>pincode</th>
                                                
                                            </tr>
                                            <tr>
                                                <td><%=address?.name%></td>
                                                <td> <%=address?.phone%></td>
                                                <td> <%=address?.address%></td>
                                                <td> <%=address?.locality%></td>
                                                <td> <%=address?.city%></td>
                                                <td> <%=address?.pincode%></td>
                                            </tr>
                                        </table>
                                        <p><span>
                                                <%=address?.name%>
                                            </span><span>
                                                <%=address?.phone%>
                                            </span>
                                        </p>
                                        <span>
                                            <%=address?.address%>
                                        </span>,<span>
                                            <%=address?.locality%>
                                        </span>,<span>
                                            <%=address?.city%>
                                        </span>,<span>
                                            <%=address?.pincode%>
                                        </span>
                                    </div>

                                </div>
                                <% }) %>
                        </div>





                        <div class="tab-pane fade" id="passwords" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Password</h5>

                                    <form id="changePass" onsubmit="return validateForm()">
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordCurrent">Current
                                                password</label>
                                            <input type="password" name="current_password" class="form-control"
                                                id="inputPasswordCurrent" required>
                                            <small><a href="/reset_password">Forgot your password?</a></small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordNew">New password</label>
                                            <input type="password" name="new_password" class="form-control"
                                                id="password" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordNew2">Confirm password</label>
                                            <input type="password" name="confirm_password" class="form-control"
                                                id="confirmPassword" required>
                                        </div>

                                        <div style="display:none;" id="error_message" class="text-center  p-t-12">
                                            <span id="mySpan" class="txt1 text-danger">
                                                Please enter match password
                                            </span>

                                        </div>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade " id="order" role="tabpanel">
                            <div class="card" style="background: darkgray;">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Orders Information</h5>
                                </div>
                                <div class="card-body">
                         
                                   
                                        <div class="card">
                                            <table>
                                                <tr>
                                                   
                                                    <th></th>
                                                    <th>product name</th>
                                                    <th>price</th>
                                                    <th>status</th>
                                                    

                                                </tr>
                                              
                                                <% (locals.orders || []).forEach(order=> { %>
                                                    
                                                    <% (order.productInfo || []).forEach(orderPro=> { %>
                                                      
                                                <tr style="border: 1px solid black;">
                                                    <td>  <a href="/order-details/<%= order._id%>/<%= orderPro._id%>"  )"><img style="width: 100px;" src="/images/products_image/<%= orderPro.product_image[0]%>" alt=""></a></td>
                                                    <td><%= orderPro.product_name %></td>
                                                    <td><%= orderPro.product_price %></td>
                                                    <td><%= order.status%></td>
                                                    
                                                </tr>
                                           
                                                <% }) %> 
                                           
                                                <% }) %>
                                          
                                            </table>
                                        </div> 
                                      
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </main>


    <script>
        const form = document.querySelector('#perInfo');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const firstName = formData.get('firstName');
            const lastName = formData.get('lastName');

            const email = formData.get('email');
            const phone = formData.get('phone');

            try {
                const response = await fetch('/profile_info', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ firstName, lastName, email, phone }),
                });
                const data = await response.text();
                console.log(data);
                // Display success message to user
            } catch (error) {
                console.error(error);
                // Display error message to user
            }
        }); 
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('#perInfoAdrs').submit(function (event) {
            event.preventDefault();

            const formData = {
                name: $('input[name=name]').val(),
                phone: $('input[name=phone]').val(),
                pincode: $('input[name=pincode]').val(),
                locality: $('input[name=locality]').val(),
                address: $('textarea[name=address]').val(),
                city: $('input[name=city]').val(),
                state: $('select[name=state]').val(),
                landmark: $('input[name=landmark]').val(),
                alternate_phone: $('input[name=alternate-phone]').val(),
                address_type: $('input[name=address-type]:checked').val()
            };

            $.ajax({
                type: 'POST',
                url: '/profile_info_adrs',
                data: formData,
                success: function (data) {
                    console.log('Success:', data);
                },
                error: function (err) {
                    console.log('Error:', err);
                }
            });
        });

    </script>

<!--     <script>
        function orderDetails(orderId,proId){
            console.log("noooooooooo");
            $.ajax({
                type:'post',
                url:'/order-details',
               
                data:({orders:orderId,pro:proId}),
                success:(response=>{

                })
            })
        }
    </script> -->
    <!-- <script>

     
        const formadres = document.querySelector('#perInfoAdrs');

        form.addEventListener('submit1', async (event) => {
            event.preventDefault();

            const formData = new FormData(formadres);
            const addressLine1 = formData.get('address_line_1');
            const addressLine2 = formData.get('address_line_2');
            const city = formData.get('city');
            const state = formData.get('state');
            const zip = formData.get('zip');

            try {
                const response = await fetch('/profile_info_adrs', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ addressLine1, addressLine2, city, state, zip }),
                });
                const data = await response.text();
                console.log(data);
                // Display success message to user
            } catch (error) {
                console.error(error);
                // Display error message to user
            }
        }); 
    </script> -->
    <!--     <script>
        const tabs = document.querySelectorAll('.list-group-item');
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                // Remove the active class from all tabs
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                });
                // Add the active class to the clicked tab
                tab.classList.add('active');
            });
        });
    </script> -->


    <script src="/admin/js/app.js"></script>


</body>

</html>
<script>
    function validateForm() {
        const passwordField = document.getElementById('password');
        const confirmPasswordField = document.getElementById('confirmPassword');
        if (passwordField.value !== confirmPasswordField.value) {
            document.getElementById("error_message").style.display = "block"
            /* alert("Please enter a valid 10-digit phone number"); */
            setTimeout(function () {
                document.getElementById("error_message").style.display = "none";
            }, 5000);
            return false;

        }
        return true;
    }
</script>

<script>
    $('#changePass').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/change-password',
            type: 'post',
            data: $('#changePass').serialize(),
            success: (Response) => {
                console.log(Response);
                if (Response) {
                    const mySpanElement = document.getElementById('mySpan');
                    mySpanElement.innerText = 'Successfully!';
                    mySpanElement.style.color = 'green'
                    document.getElementById("error_message").style.display = "block"
                 
                    setTimeout(function () {
                        
                        document.getElementById("error_message").style.display = "none";
                        const myForm = document.getElementById('changePass').reset()


                    }, 5000);
                } else {
                    document.getElementById("error_message").style.display = "block"
                    /* alert("Please enter a valid 10-digit phone number"); */
                    setTimeout(function () {
                        document.getElementById("error_message").style.display = "none";
                        const myForm = document.getElementById('changePass').reset()
                    }, 5000);
                }
            }
        })
    })
</script>
<script>
    function verifyEmail(email) {
        $.ajax({
            type: 'post',
            url: '/emailverification',
            data: { email: email },
            success: (response => {
                if (response) {
                    window.location.href = response.redirectUrl

                }
            })
        })
    }

</script>