<div class="wrapper">
	<nav id="sidebar" class="sidebar js-sidebar">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand" href="/">
				<span class="align-middle">GetMyShoes</span>
			</a>

			<ul class="sidebar-nav">
				<li class="sidebar-header">
					Pages
				</li>

				<li class="sidebar-item <%=locals.activeDashboard %>">
					<a class="sidebar-link" href="/admin">
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
					</a>
				</li>

				<li class="sidebar-item <%= locals.activeUser  %>">
					<a class="sidebar-link" href="/admin/users">
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">Users</span>
					</a>
				</li>
				<li class="sidebar-item <%= locals.activeProducts  %>">
					<a class="sidebar-link" href="/admin/products">
						<i class="align-middle" data-feather="file-plus"></i> <span class="align-middle">Products</span>
					</a>
				</li>
				<li class="sidebar-item <%= locals.activeCategories%>">
					<a class="sidebar-link" href="/admin/category">
						<i class="align-middle" data-feather="file-plus"></i> <span class="align-middle">Categories</span>
					</a>
				</li>
				<li class="sidebar-item <%= locals.activeUnlists %>">
					<a class="sidebar-link" href="/admin/unlist">
						<i class="align-middle" data-feather="file-plus"></i> <span class="align-middle">Unlists</span>
					</a>
				</li>
				<li class="sidebar-item <%= locals.activeOrders  %>">
					<a class="sidebar-link" href="/admin/orders">
						<i class="align-middle" data-feather="file-plus"></i> <span class="align-middle">Orders</span>
					</a>
				</li>
				<li class="sidebar-item <%= locals.activeCoupons %>">
					<a class="sidebar-link" href="/admin/coupons">
						<i class="align-middle" data-feather="file-plus"></i> <span class="align-middle">Coupons</span>
					</a>
				</li>
				<li class="sidebar-item <%= locals.activeSalesReport %>">
					<a class="sidebar-link" href="/admin/sales_report">
						<i class="align-middle" data-feather="file-plus"></i> <span class="align-middle">Sales Report</span>
					</a>
				</li>
				<li class="sidebar-item <%= locals.activeBanners  %>">
					<a class="sidebar-link" href="/admin/banners">
						<i class="align-middle" data-feather="layout"></i> <span class="align-middle">Banners</span>
					</a>
				</li>
				
			</ul>


		</div>
	</nav>

	<div class="main">
		<nav class="navbar navbar-expand navbar-light navbar-bg">
			<a class="sidebar-toggle js-sidebar-toggle">
				<i class="hamburger align-self-center"></i>
			</a>

			<div class="navbar-collapse collapse">
				<ul class="navbar-nav navbar-align">
				
					<li class="nav-item dropdown">
						<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
							<i class="align-middle" data-feather="settings"></i>
						</a>

						<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
							<img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Admin" /> <span
								class="text-dark">Admin</span>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							
						
							<a class="dropdown-item" href="/admin/logout">Log out</a>

						</div>
					</li>
				</ul>
			</div>
		</nav>